<div id="home_header">
  <div class="home_call_action ribbon-content row">
    <p class="marketing-blurb">
      <%= t('homepage.marketing_blurb') %>
    </p>

    <div class="share-message">
      <ul>
        <li><%= link_to "<i class=\"glyphicon glyphicon-search\"></i> #{t('hyrax.browse_button')}".html_safe, main_app.search_catalog_path, class: "btn btn-primary", id: "browse_link" %></li>
      </ul>
    </div>
  </div>
</div>
