<% license = Hyrax::LicenseService.new %>
<% options = license.select_active_options %>

<div class="form-group radio_buttons generic_work_rights">
    <%= f.label :rights %>
    <%= f.hint :rights %>
    <%= f.collection_radio_buttons(:rights, options, :last, :first, item_wrapper_class: 'radio', item_wrapper_tag: :div, boolean_style: :inline) do |b|
        ( content_tag :p do
            b.label { b.radio_button(required: true) + b.text }
        end ) + 
        ( content_tag :aside do
            t_uri(:description, scope: [ :rights, b.value ])
        end )
    end %>
    
</div>