<div class="row">
<% if (curation_concern.visibility=="private") %>
    <%= f.input :visibility, as: :boolean, checked_value: true, unchecked_value: false, :input_html => { :checked => true } %>Save as a draft
<% elsif (curation_concern.visibility !="open")%> 
  <%= f.input :visibility, as: :boolean, checked_value: true, unchecked_value: false %>Save as a draft
<% end %>
</div>
