<div class="panel panel-default">
  <div class="panel-heading dashboard-panel">
    <h3 class="panel-title">My Profile</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 user-info">
      <h3><%= @user.email %></h3>
    </div>

    <div class="col-xs-6 col-sm-12 col-md-6 user-info">
      <%= link_to t("hyrax.view_profile"), hyrax.profile_path(@user), class: "btn btn-default" %>
    </div>
    <div class="col-xs-6 col-sm-12 col-md-6 user-info">
      <%= link_to t("hyrax.edit_profile"), hyrax.edit_profile_path(@user), class: "btn btn-default" %>
    </div>
  </div>
</div>
