@import 'falafel';

#footer {
  background-color: $fa_main_1;
  color: #FFF;
  margin-top: 5em;
  padding: 1.5rem 0;

  * {
    verical-align: middle;
  }

  a {
    color: #FFF;
    font-size: 1em;
  }

  * + a {
    margin-left: 1rem
  }

  .btn {
    font-size: 1em;
    color: #000;
  }
}
