@import 'falafel';

#page-positioner {
  form#new_collection,
  form#new_generic_work,
  .edit-profile,
  form.edit_generic_work,
  .simple_form.editor {
    max-width: 45em;
    margin: 1.5em auto;
  }

  .required-tag {
    @include fa_tag($fill: #0C5292, $color: #FFF);
  }

  form label.optional {
    font-weight: bold;
  }

  .form-group {
    margin: 0;
  }

  * + .form-group {
    margin-top: 2.5rem;
  }

  .collection_description, .fileset_description {color: #333;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  .dashboard .sort-toggle,
  .dashboard #documents,
  .dashboard .batch-toggle {
    border: 0;
  }

  .nav-tabs {
    text-align: center;
    background-color: $fa_grey_5;
    background: -webkit-linear-gradient(to bottom, #{$fa_grey_7} 0%,#FFF 100%);
    background: linear-gradient(to bottom, #{$fa_grey_7} 0%,#FFF 100%);
    border: 1px solid $fa_grey_4;
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    margin: 2em 0;
  }

  .nav-tabs > li,
  .nav-tabs > li.active {
      display: inline-block;
      margin: 0.2em;
      float: none;

    a {
      display: inline-block;
      margin: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 1em;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
      color: #FFF;
      font-size: 1em;
      text-decoration: none;


      &:focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40;
      }

      &:hover,
      &:active {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
      }
    }
  }

  .nav-tabs > li.active a {
    color: $fa_grey_2;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0;
    border-color: transparent;

    &:focus,
    &:hover,
    &:active {
      color: $fa_grey_1;
      background-color: transparent;
      border-color: transparent;
      font-weight: bold;
      text-decoration: none;
    }
  }

  #my_nav {
    margin: 0;
    background: transparent;
    border-color: transparent;
  }

  #my_nav li {
    display: block;
    text-align: left;

    + li {
      margin-top: 1em;
    }
  }
}

@media (max-width: 992px) {
  #page-positioner {
    #my_nav {
      margin: 0 0 1em;
    }

    #my_nav li,
    #my_nav li + li {
      display: inline-block;
      text-align: center;
      margin: 0.2em;
    }
  }
}

/*
  Push "add another" button to next line by adding
  'add-another-newline' class to parent container.
*/
.add-another-newline .input-group-btn.field-controls {
  display: block;
  margin-top: 1rem;
}

/*
  Legend styling more like a label
*/
.legend-label {
  display: inline-block;
  max-width: 100%;
  font-size: 1rem;
}

.text-bold {
  font-weight: bold;
}

.multi_value .field-controls .btn.add,
.multi_value .field-controls .btn.remove {
  width: auto;
  text-align: left;
  padding: 0.5rem 0;
}

.add:active:hover,
.add:active:focus {
  background: transparent;
  border-color: transparent;
  color: #337ab7;
}

.listing .field-wrapper {
  margin-bottom: 1rem;
}

.multi_value .field-controls .btn.add.btn-add-another {
  display: block;
}

.date-reset {
  padding: 0.5rem 0;
}

.date-add-coverage-button {
  margin-top: 1.6rem;
}

/* Progress Bar Group */

.progress-group {
  padding: 1em 0;
}

.progress-deposit ul {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0;
  list-style-type: none;
  max-width: 30rem;
  margin: 0 auto;
}

.progress-deposit ul li {
  display: inline-block;
  padding: 0;
  font-size: .90em;
}

.progress-deposit-bar ul {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  margin: 0 auto;
  max-width: 25rem;
}

.progress-deposit-bar li {
  background: #0C5292;
  color: #555;
  content: ' ';
  display: flex;
  flex-grow: 1;
  height: .3em;
  line-height: 1em;
  margin: 0;
  position: relative;
  text-align: right;  
}

.progress-deposit-bar li::before {
  color: #555;
  background: #0C5292;
  border-radius: 50%;
  content: " "; 
  height: 2em;
  left: -2em;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: -.85em;
  width: 2em;
  border: 3px solid #0C5292;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
}

.progress-deposit-bar li.active {
  background-color: #e5e5e5;
}

.progress-deposit-bar li.active ~ li {
  background-color: #e5e5e5;
}

.progress-deposit-bar li.active ~ li::before {
  background-color: #f2f2f2;
  border: 4px solid #e5e5e5;
}

.progress-deposit-bar li:last-child {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 1;
}

/*
  Centering images in Help, especially "Using Globus"
*/
.center-image {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 90%;
}
