@import 'falafel';

@mixin header_link($icon) {
  padding: 1em 0 .6em;
  color: #FFF;
  min-width: 8em;
  border-bottom: 0.4rem solid transparent;

  &:hover {
    text-decoration: none;
    border-bottom-color: #126DC1;
  }

  &:focus {
    text-decoration: none;
    background-color: #e6e6e6;
    border-bottom-color: #555;
    outline: 0;
  }
}

#page-positioner {
  h1.main-heading {
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $fa_grey_3;
  }

  .dashboard-quick-links {
    text-align: center;
    background-color: #fafafa;
    font-size: 0.95em;
    border-bottom: 2px solid #e5e5e5;

     .bottom-links a, .top-links a {
        color: #4E4E4E;
      }
  
    * {
      display: inline-block;
      text-align: center;
    }

    .create-work {
      @include header_link('plus');
    }

    .create-collection {
      @include header_link('plus');
    }

    .view-collections {
      @include header_link('view_list');
    }

    .view-works {
      @include header_link('apps');
    }

    .view-dashboard {
      @include header_link('account');
    }
    
    a.active {
    border-bottom: 0.4em solid #126DC1;
    }

    a.active {
    color: #126DC1;
    }

    a:hover {
    border-bottom: 0.4em solid #126DC1
    }
  }

  #masthead {
    background-color: $fa_um_blue;
    min-height: 0;
    padding: 0.5rem;
  }

  #user_utility_links {
    margin: 0;
  }

  .login-wrap {
    text-align: right;
  }

  .site-brand * {
    vertical-align: middle;
  }

  .site-logo {
    height: 3.5em;
    display: inline-block;
  }

  .site-name {
    @include fa_site_header_font;
    display: inline-block;
    margin: 0;
    padding: 0em 0 0.1em 0.2em;
    border-left: 0.05em solid #fff;
    font-size: 2em;
  }

  .site-brand a {
    color: #FFF;
    text-decoration: none;
    padding: 0.1em 0.2em;
    text-decoration: none;
  }

  .beta-note {
    @include fa_tag($fill: $fa_main_3, $color: #FFF);
  }

  .login_button {
    margin: 0;
  }

  #masthead_controls {
    border: 0;
    background-color: #E6F3FF;
    border-bottom: 2px solid #cce6ff;
  }

  .navbar-wrapper {
    overflow: hidden;
  }

  .navbar {
    background-color: transparent;
  }

  #masthead_controls .navbar {
    margin-bottom: 0;
    border: none;
  }

  .navbar li,
  .navbar li:first-child {
    border: 0;
    display: inline-block;
    width: auto;
  }

  #masthead_controls .navbar a,
  #masthead_controls .navbar a:hover,
  #masthead_controls .navbar a:focus {
    background-color: transparent;
    color: #4E4E4E;
  }

  .navbar-nav li.active a,
  .dashboard-quick-links a.active {
    &::after {
      border: 0.4em solid transparent;
      border-bottom-color: #FFF;
      position: absolute;
      bottom: -0.8em;
      left: 50%;
      margin-left: -0.8em;
      color: #126DC1;
    }
  }

  #masthead_controls .navbar-nav a {
    border-bottom: 0.4em solid transparent;
    padding: 1em 0.6em 0.3em;
    display: inline-block;
    position: relative;

    &:hover {
      background-color: transparent;
      border-bottom-color: #FFF;
    }

    &:focus {
      background-color: $fa_main_3;
      outline: 0;
    }
  }
}

.header-nav-list li {
  display: inline;
  padding: .25em;
}

.header-nav-list {
  padding-top: 1em;
  color: #fff;
}

ul.header-nav-list {
  padding-left: 0;
}

.header-nav-links {
  color: #fff;

  &:hover {
  color: #ddd;
  }
}

.container-fluid {
  padding-top: .5em;
}

@media (max-width: 768px) {
  #page-positioner {
    h1.main-heading {
      font-size: 1.5rem;
    }

    .site-brand-wrap {
      text-align: center;
    }

    .site-brand {
      font-size: 0.8em;
      display: inline-block;
    }

    .login-wrap {
      text-align: center;
      margin: 0.5em 0 0.2em;
    }

    .navbar-nav {
      margin: 0;
    }

    .navbar-nav a {
      position: relative;
      bottom: -0.1rem
    }

    .navbar {
      text-align: center;
    }

    .dashboard-quick-links {
      .bottom-links, .top-links {
        display: block;
      }

      .bottom-links a {
        padding-bottom: 0.2em;
        padding-top: 1em;

        &::before {
          top: 0.5em;
        }
      }

      .top-links a {
        border-top: 0.4rem solid transparent;
        padding-top: 1em;

        &::before {
          top: 0.5em;
        }

        &.active::after {
          border-bottom: 0.4em solid transparent;
          position: absolute;
          top: -0.8em;
          bottom: auto;
        }
      }
    }
  }
}

/*
  Header search input
*/

#masthead_controls #search-submit-header {
  background-color: #337ab7;
  color: #fff;

  &:hover {
    background-color: #DDD;
    color: #000;
  }
}

.search-box-container {
  max-width: 40rem;
  margin: 0 auto;
}
