@import 'falafel';

@mixin header_link($icon) {
  @include fa_pseudo_icon(
    $icon,
    'white',
    $fill: $fa_main_1,
    $width: 2em,
    $padding: 0.3em,
    $position: top,
    $inner_nudge: 0.3em,
    $outer_nudge: 0.6em,
    $border_radius: 0.3em
  );

  color: #FFF;
  min-width: 8rem;
  margin: 0 0.3rem;
  padding-bottom: 0.4rem;
  border-bottom: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;

  &:hover {
    text-decoration: none;
    border-bottom-color: #FFF;
  }
}

#page-positioner {
  .dashboard-quick-links {
    text-align: center;
    background-color: $fa_main_3;
    margin: 1rem 0;

    * {
      display: inline-block;
      text-align: center;
    }

    .create-work {
      @include header_link('plus');
    }
    .view-collections {
      @include header_link('view_list');
    }
    .view-works {
      @include header_link('apps');
    }
    .view-dashboard {
      @include header_link('account');
    }
  }

  #masthead {
    background-color: $fa_um_blue;
    min-height: 0;
    padding: 0.5rem;
  }

  .site-brand * {
    vertical-align: middle;
  }

  .site-logo {
    height: 3.5rem;
    display: inline-block;
  }

  .site-name {
    @include fa_site_header_font;
    display: inline-block;
    margin: 0;
    padding: 0em 0 0.1em 0.3em;
    border-left: 0.15rem solid #fff;
    font-size: 2rem;
  }

  .site-name a {
    color: #FFF;
    text-decoration: none;
  }

  .site-name a:hover {
    text-decoration: none;
  }

  .beta-note {
    @include fa_tag($fill: $fa_main_3, $color: #FFF)
  }

  .login_button {
    margin: 0;
  }
}

@media (max-width: 768px) {
  #page-positioner .dashboard-quick-links {
    .top-links a {
      border-bottom: 0;

      &:hover {
        border-top-color: #FFF;
        border-bottom-color: transparent;
      }
    }

    .bottom-links, .top-links {
      display: block;
    }
  }
}
