@import 'falafel';

#home_header {
  background-color: #00274C;
  background-image: none;
  background-image: asset-url("home_banner.jpg");
  background-position: left center;
  border: 0;
  min-height: 0;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  background-repeat: no-repeat;
  background-size: cover;

  div.home_call_action {
    min-height: 0;
  }

  .marketing-blurb,
  .share-message {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .marketing-blurb {
    width: 50%;
    margin: 2em 7% 2em 1em;
    color: #FFF;
    line-height: 1.7;
    padding: 1.2em 2em;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #contribute_link, #browse_link {
    font-size: 1em;
    padding: 0.5em 0.7em;
  }

  .share-message > * {
    margin: 0;
    border: 1px solid #FFF;
  }
}

#home_content {
  padding: 0 0 3rem;
  text-align: center;

  h2 {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $fa_grey_3;
    font-size: 2em;
  }

  .featured-item {
    padding: 2rem 1rem;
    display: inline-block;
    float: none;
    margin: -10px;

    .btn {
      margin-bottom: 0.5rem;
      white-space: normal;
    }
  }

  img {
    display: inline-block;
    vertical-align: top;
    height: auto;
    max-width: 5rem;
    outline: 2px solid $fa_grey_4;
  }

  .featured-work-info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 1em;
    overflow: hidden;
    width: 9rem;

    p {
      font-size: 0.8rem;
      margin: 0.5em 0 0;
    }

    p + * {
      margin-top: 0.75em;
    }
  }
}

@media (max-width: 768px) {
  #home_header {
    .marketing-blurb,
    .share-message {
      display: block;
      margin: 1em auto;
    }

    .marketing-blurb {
      width: 75%;
      min-width: 25em;
    }

    .share-message {
      width: 15em;
    }
  }
}

div#announcement {
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color: $fa_main_2;
  border: 10px solid white;
  padding-top: 10px;
  border-radius: 15px;
}
