#masthead_controls::after {
  content: 'Training Website';
  width: 100%;
  min-width: 27rem;
  left: 0;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.75em;
  font-size: 1.5em;
  display: block;
  position: absolute;
  background-color: #C00;
  color: #FFF;
}

#masthead_controls {
  margin-bottom: 5.75em;
}
