@import 'falafel';

html {
  font-size: 1.1em;
  min-width: 27rem;
}

body {
  font-size: 1rem;
}

#content-wrapper,
.ribbon-content {
  min-width: 25rem;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.dashboard-quick-links,
#masthead_controls {
  a {
    text-decoration: none;
  }
}

.btn {
  text-decoration: none;
}

