.align-right {
    text-align: right;
}

/* to support use of bootstrap cells within the list items */
ol.catalog li:after {
    content: "";
    display: table;
    clear: both;
}

.multi_value ul.listing {
    max-width: none;
}

.multi_value .field-controls .btn.add, 
.multi_value .field-controls .btn.remove {
    width: 15em;
}

.attributes .attribute {
  list-style: none;
}

.attributes ul {
  margin: 0;
  padding: 0;
}

.attributes td {
  width: 75%;
}

.attributes thead th {
  text-align: left;
  font-size: 1.2em;
}
