<div id="home_header">
  <div class="home_call_action ribbon-content row">
    <p class="marketing-blurb">
      <%= t('homepage.marketing_blurb') %>
    </p>

    <div class="share-message">
      <% if can?(:view_share_work, FileSet) %>
        <%= link_to "<i class=\"glyphicon glyphicon-upload\"></i> #{t('sufia.share_button')}".html_safe, sufia.new_curation_concerns_generic_work_path, class: "btn btn-primary", id: "contribute_link" %>
      <% end %>
    </div>
  </div>
</div>
