  <%= hidden_field_tag('generic_work[nop]') %>
  <label for="user_email_one" class="">Email:</label>
  <%= text_field_tag :user_email_one, params[:user_email_one], size: 30 %><br/>
  <label for="user_email_two" class="">Email again:</label>
  <%= text_field_tag :user_email_two, params[:user_email_two], size: 30 %><br/>