development:
  host: 'ezid.lib.purdue.edu'
  port: 443
  shoulder: 'doi:10.5072/FK2'
  use_ssl: true
  user: "eziduser"
  password: "ezidpass"
test:
  host: 'ezid.lib.purdue.edu'
  port: 443
  shoulder: 'doi:10.5072/FK2'
  use_ssl: true
  user: "eziduser"
  password: "ezidpass"
