development:
  host: 'ldap.umich.edu'
  port: 636
  encryption: 'simple_tls'
  use_ssl: true
  username: "mcommunityuser"
  password: "mcommunitypass"
test:
  host: 'ldap.umich.edu'
  port: 636
  encryption: 'simple_tls'
  use_ssl: true
  username: "mcommunityuser"
  password: "mcommunitypass"
