# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 34f239a7f8e5e4227522a9fc49d52280eb53a625327c268539602f42f1f343b756360431685d078af9c49df720768bc16efafe19aa9d34916effd4efa4e04a62

test:
  secret_key_base: 0e62fe714f7bdf8de13281a2d9f4356f18c2beddbdd3aa00ef2ef28dc2a791feb8c46d74de428d0774944ad34e23e019a4ee98a169764a25cf207a65d34f7557

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
