<h2>Prepare Your Data</h2>

<h3>Data Format &amp; Deposit Size</h3>

<p>Deep Blue Data will accept any file format. To facilitate basic preservation services, deposited content must not be encrypted and compression (.zip, .gz, tar.gz) is discouraged. You can deposit files under 2 GB in size using our online interface.</p>

<p><a href="<%= url_for('file-format-preservation') %>">Review file formats and levels of preservation</a></p>

<p>We do not foresee placing cumulative storage limits on deposits, but there are some constraints on the size of deposits:</p>

<ul>
  <li>The maximum size of a deposit uploaded through the online interface is <strong>2 GB</strong>.</li>
  <li>Single files or single aggregations of files exceeding <strong>1 TB</strong> may pose challenges based on the underlying software. In these cases we will work with depositors to explore all archiving and access solutions.</li>
</ul>

<p><a href="<%= url_for('contact') %>">Please contact us if your deposit exceeds 2GB</a></p>

<h3>License</h3>

<p>Depositors must choose to apply one of several <a href="http://creativecommons.org/">Creative Commons</a> licenses to the data. Depositors authorize the Library to distribute the data under the terms of the license they have selected.</p>

<h3 name="metadata">Metadata</h3>

<p>We require descriptive metadata for each deposited dataset. A detailed description of the data&apos;s origins, purpose, and use are essential for both discoverability and re-use. The following are our minimum requirements:</p>

<ul>
  <li><strong>Title:</strong> a descriptive title for the data and any associated works you deposit along with it</li>
  <li><strong>Authors(s):</strong> those responsible for creating the data</li>
  <li><strong>Creation Date:</strong> the date the data was created, as determined by its author(s) - mm/dd/yyyy</li>
  <li><strong>Method:</strong> a description of method for collecting the dataset (this can include equipment used for sensing, survey methodology, etc.)</li>
  <li><strong>Description:</strong> a description of each dataset (including, for example, codebooks and descriptions of variables along with corresponding units, etc.)</li>
</ul>

<p>The system also generates metadata automatically to help us maintain the integrity of your files and provide a complete record:</p>

<ul>
  <li><strong>Identifier</strong></li>
  <li><strong>Timestamp:</strong> time and date stamping for deposits and changes to deposits, including changes to metadata, to track modifications over time</li>
  <li><strong>Depositor:</strong> who made the deposit and any subsequent changes, in case we need to consult with them about issues that arise</li>
  <li><strong>Checksums:</strong> error detection mechanism to help ensure the integrity of the files</li>
</ul>

<p>Regardless of which license a depositor chooses for data distribution, metadata will always be distributed with the <a href="https://creativecommons.org/about/cc0">CC0 mark</a> in order to facilitate the broadest possible use.</p>

<h3>Conditions for Deposit</h3>

<p>You are responsible for ensuring that Research data involving the use of human subjects is in accordance with the <a href="http://research-compliance.umich.edu/irb-application-process">University of Michigan's (U-M) Institutional Review Board (IRB)</a>. By depositing with us, you agree that we bear no responsibility for the contents of your submission and represent that:</p>

<ul>
  <li>The submission is your original work and/or that you have the authority to grant the rights in the license you have selected.</li>
  <li>You obtained the permission of the owner for materials that are not your original work to grant the Library the rights required and the third-party work is clearly identified and acknowledged.</li>
  <li>Your submission does not, to the best of your knowledge, infringe upon anyone's copyright. </li>
  <li>The submission contains no libelous or other unlawful matter and makes no improper invasion of the privacy of any other person.</li>
  <li>You have fulfilled any right of review, confidentiality, or other obligations required by contract or agreement if the work was sponsored or supported by an agency or organization other than U-M.</li>
</ul>

