<div class="alert alert-info">
  <strong>Note:</strong> You must agree to the <a href="<%= sufia.terms_path(:terms) %>" target="_blank"><%= t('sufia.deposit_agreement') %></a> before starting your upload.
</div>


