<p>
<label>
  <%= check_box_tag 'terms_of_service', 1, nil, required: "required", onchange: "document.getElementById('main_upload_start').disabled = !this.checked;" %><strong> I have read and do agree to the <%= link_to t('sufia.deposit_agreement'), sufia.static_path(:terms), target: "_blank" %>.</strong>
</label>
</p>
