 <div class="progress-group">
     <div class="progress-deposit-bar">
       <ul>
        <li></li>
        <li></li>
        <li class="active"></li>
      </ul>
    </div>
    <div class="progress-deposit">
      <ul >
        <li>Describe Work</li>
        <li>Upload File(s)</li>
        <li>Confirm Deposit</li>
      </ul>
    </div>
  </div> 

<div class="row">
  <div class="col-sm-12">
    <div class="position-page">
      <h2 class="non lower">Thank You for Your Deposit in Deep Blue Data!</h2>
        <p class="box-padding emphasis-text">Your work will remain private until Research Data Services has reviewed your submission. You will be notified once your data are published.</p>

        <form class="copy-url box-padding align-left">
          <label for="copy-input" >Share your work with the following link:</label>
          <div class="input-group">
            <input type="text" class="form-control"
                value="<%= polymorphic_url([main_app, curation_concern]) %>" placeholder="The work URL path" id="copy-input">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="copy-button" onclick="copyClick()">
                Copy URL
              </button>
            </span>
          </div>
        </form>

        <div class="top-border">
        
        <%= link_to t("hyrax.dashboard.return_dashboard"), hyrax.dashboard_path, type: :button, class: "btn btn-primary dashboard-btn " %>
        
          <div class="box-padding align-left">
          <p class="bold"> Make your work citable!</p>
          <p>Visit your <a href="<%= hyrax.dashboard_works_path %> "> works page</a> to make your new work citable with a DOI. If you have any questions please <a href="<%= hyrax.contact_path %>">Contact Us</a>.</p>
          </div>
        </div>
    </div>
  </div>
</div>