<div class="list-group-item">
  <span class="glyphicon glyphicon-time"></span> Joined on <%= user.created_at.to_date.strftime("%b %d, %Y") %>
</div>

<div class="list-group-item">
  <span class="badge"><%= number_of_collections(user) %></span>
  <span class="glyphicon glyphicon-folder-open"></span> <%= link_to_field('depositor', user.to_s, t("hyrax.dashboard.stats.collections"), generic_type: "Collection") %>
</div>




