<h1 class="main-heading">Edit Profile</h1>
<div class="edit-profile profile">
  <%= render 'edit_primary' %>
</div>

<% secondary = capture do %>
<%= render 'edit_secondary' %>
<% end %>
<% unless secondary.strip.empty? %>
<div class="profile">
  <%= secondary %>
</div>
<% end %>
