<footer>
  <div id="footer">
    <div class="ribbon-content text-left">
      <a class="btn btn-default" href="<%= hyrax.help_path('help') %>">Help</a>
      <a href="<%= hyrax.root_path %>">Home</a>
<a href="<%= hyrax.agreement_path('agreement')  %>">Policy &amp; Terms of Use</a>
    </div>
  </div>
  <div class="ribbon-content row">
    <p class="col-xs-6"><%= t('hyrax.footer.copyright_html') %></p>
  </div>
</footer>
