<footer>
  <div id="footer">
    <div class="ribbon-content text-left">
      <a class="btn btn-default" href="<%= sufia.help_path('help') %>">Help</a>
      <a href="<%= sufia.root_path %>">Home</a>
<a href="<%= sufia.agreement_path('agreement')  %>">Policy &amp; Terms of Use</a>
    </div>
  </div>
  <div class="ribbon-content row">
    <p class="col-xs-6"><%= t('sufia.footer.copyright_html') %></p>
  </div>
</footer>
