<div class="home_call_action col-xs-12 col-sm-8">
  <div class="home_share_work">
    <p>
      <%= t('dbd.homepage.marketing_blurb') %>
    </p>
    <% if can?(:view_share_work, FileSet) %>
      <%= link_to "<i class=\"glyphicon glyphicon-upload\"></i> #{t('sufia.share_button')}".html_safe, sufia.new_curation_concerns_file_set_path, class: "btn btn-primary btn-lg btn-block", id: "contribute_link" %>
      <p class="text-center"><a href="/terms/">Terms of Use</a></p>
    <% end %>
  </div>
</div>
