<!--
Replacing bootstrap component
<a id="logo" href="/"><span class="glyphicon glyphicon-globe"></span></a>
-->

<%= link_to image_tag("SillyM.svg",size: "80x66", alt: image_alt("logo")),root_url, {} %>

<%= link_to t('sufia.product_name'), root_url, {class: "institution_name"} %>
<!--
<a href="/" class="institution_name"><%=t('sufia.product_name')%></a>
-->

