<div class="site-brand">
  <a href="<%= t('header.mlib_home_path') %>">
    <img class="site-logo" src="https://www.lib.umich.edu/falafel/v0/graphics/mlib_square__transparent.svg" alt="U-M Library">
  </a>

  <h1 class="site-name">
    <a href="<%= sufia.root_path %>"><%=t('sufia.product_name') %> <span class="beta-note">Beta Interface</span></a>
  </h1>
</div>
