<section class="update-alert container-fluid">
  <div class="row ribbon-content">
    <div class="col-xs-12 container update-alert-container">
      <p>Deep Blue Data will be unable to accept new deposits from Thursday January 10th to Tuesday January 15th,
        as we complete our migration to the Hyrax 2 platform.
        <a href="https://www.lib.umich.edu/blogs/bits-and-pieces/change-coming-deep-blue-data">Click here</a>
        for more information about the features provided by Hyrax 2.
        <%# As the migration gets closer/we have more concrete information, add date of banner and:  %>
        <%# DOIs for existing works will not be affected; time to publication for new deposits may be affected, %>
        <%# especially for larger works. %>
      </p>
    </div>
  </div>
</section>