<section class="update-alert container-fluid">
  <div class="row ribbon-content">
    <div class="col-xs-12 container update-alert-container">
				<p>Coming soon! We are upgrading Deep Blue Data and excited to share a new, updated look to the site. We welcome your <a href="mailto:deepblue@umich.edu">comments and questions</a>.</p>
		</div>
  </div>
</section>