<% unless request.path.index('/admin') %>
<div id="masthead" class="container-fluid">
  <div class="row ribbon-content">
    <div class="col-xs-12 col-sm-8 site-brand-wrap">
      <%= render partial: '/logo' %>
    </div>
    <div class="col-xs-12 col-sm-4 login-wrap">
        <%= render partial: '/user_util_links' %>
    </div>
  </div>
</div>
<% end %>