  <div class="progress-group">
     <div class="progress-deposit-bar">
       <ul>
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="progress-deposit ">
      <ul >
        <li>Describe Work</li>
        <li>Upload File(s)</li>
        <li>Confirm Deposit</li>
      </ul>
    </div>
  </div>

<%= simple_form_for [main_app, @form], html: { multipart: true } do |f| %>
  
  <div id="works_edit">
    <h2 class="non lower">Describe Work</h2>
     <p class="describe_sub"><%= t('simple_form.hints.generic_work.describe_work') %></p>

      <% @form.rendered_terms.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
      <% end %>

  </div>
<% end %>

