<% unless @recent_globus_dir.blank? %>
<div class="alert alert-block alert-success">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <p>
        <%= t('generic_work.globus_success') %>
    </p>
    <p>
        <%= "Globus data is ready in directory: " + @recent_globus_dir %>
    </p>
</div>
<% end %>
